<!DOCTYPE html>
<html>
  <head>
    <title>XO Monster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'client_vue' %>
    <%= stylesheet_pack_tag 'client_vue' %>
  </head>
  <body></body>
</html>